<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar produto</title>
</head>
<body>
    <h1>Cadastrar Produto</h1>
    <form action="/produto/cadastrar" method="post">
        <p>Nome:</p>
        <input type="text" name="nome" required><br>
        <p>Quantidade:</p>
        <input type="number" name="quantidade" required><br><br>
        <button type="submit">Enviar</button>
    </form>
    <br>
    <a href="/produtos">Listar produtos</a>
</body>
</html>